<style>
    a {
        color: black;
    }
</style>
<ul class="horizontal-list">
    <li class="card" style="background-color: #96CAF7;"><a href="subjects/math.html">Математика</a></li>
    <li class="card" style="background-color: #9CDCAA;"><a href="subjects/bio.html">Биология</a></li>
    <li class="card" style="background-color: #BFB2F3;"><a href="subjects/chem.html">Химия</a></li>
    <li class="card" style="background-color: #D6AEC9;"><a href="subjects/inf.html">Информатика</a></li>
    <li class="card" style="background-color: bisque;"><a href="subjects/rus.html">Русский</a></li>
  </ul>
  