ul.horizontal-list {
  display: flex;
  justify-content: center;
  margin-top: 0em;
  margin-left: -40px;
  flex-wrap: wrap;

  li {
    display: inline-block;
  }

  li a {
    display: block;
    text-decoration: none;
    font-weight: normal
  }

}

.card {
  //padding: 0em;
  //border: 2px var(--text) solid;
  //border-style: double ;
  margin-top: 0.8em;
  width: 12em;
  height: auto;
  margin: 0.8em;
  text-align: center;
  font-size: 1em;
  align-items: center;
  //background-color: #99c1f1;
  background: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
  //margin-bottom: 1em;
  border-radius: 0.3em;
  .header {
    color: #000000;
  }

  .body {
    --text: #000000;
    font-size: 0.8em;
  }

  hr {
    margin: 0.2em 0;
	  padding: 0;
	  height: 0;
  	border: none;
	  border-top: 1px solid #333;
  }
  &:hover{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  
  }

}

/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 600px) {
  ul.horizontal-list li.card {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    a, .header {
      font-size: 1em;
    }
  }
}
