ul.horizontal-list {
  display: flex;
  justify-content: center;
  margin-top: 0em;
  margin-left: -40px;
  flex-wrap: wrap;

  li {
    //display: inline-block;
  }

  li a {
    display: block;
    text-decoration: none;
    font-weight: normal
  }

}

.card {
  //padding: 0em;
  //border: 2px var(--text) solid;
  //border-style: double ;
  margin-top: 0.8em;
  width: 45%;
  height: auto;
  margin: 0.8em;
  text-align: center;
  font-size: 1em;
  align-items: center;
  //background-color: #99c1f1;
  //background: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
  //background-color: #8EC5FC;
  background-image:  #b592f5 ;

  //margin-bottom: 1em;
  border-radius: 0.3em; 
  a{
    color: #000000;
  }
}

  .card:hover{
    transition: 0.1s;

    transform: scale(1.01);
 box-shadow: 0px 10px 20px rgba(0,0,0,.12), 0px 4px 8px rgba(0,0,0,.06);
}
/* Responsive cards - one column layout on small screens */
@media screen and (max-width: 600px) {
  ul.horizontal-list li.card {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    a, .header {
      font-size: 1em;
    }
  }
}
